*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .2s linear;
}
body{
    background-color: rgb(255, 241, 242);
    overflow-x: hidden;
    font-family: 'Hina Mincho', serif;
    font-family: 'Quintessential', cursive;
}
header{
    text-align: center;
    width: 100%;
    height: 14vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(48, 18, 18, 0.692);
    background-color: #ffc7b6;
    backdrop-filter: blur(12px);
}

header div{
    display: flex;
    padding-top: 4px;
}
h5{
    margin-right: 20px; 
    font-size: 15px;
}
.alerts{
    width: 18px;
    height: 47px;
    border-radius: 50px;
    border: 1px black solid;
}
.alerts.wrong{
    background-color: red;
}
.alert.right{
    background-color: rgb(7, 172, 7);
}
section{
    margin: 2rem 9%; 
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
    height: 55vh;
}

.red{
    background-color: red;
}
.green{
    background-color: rgb(86, 199, 86);
} 
.cards{
    box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
    width: 40%;
    background-color: #f4ded778;
    height: 34vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
h3{
    font-size: 20px;
}
.answers{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
button{
    margin-top: 20px;
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
    border: none;
    width: 10rem;
    font-size: 20px;
    height: 33px;
    text-transform: capitalize;
    background-color: #ffc7b6;
    color: #1a0000b8;
    cursor: pointer;
}

@media (max-width:768px){

}

@media (max-width:450px){
.cards{
    width: 90%;
}
button {
    width: 7rem;
}
}